---
import Layout from "../layouts/Layout.astro";
---

<Layout title="avav sabilal - Fullstack Developer" seoTitle="avav sabilal - Experienced Fullstack Developer">
  <main class="min-h-screen w-full bg-neutral-900">
    <div class="mx-auto my-auto max-w-2xl pt-[35vh] text-neutral-50">
      <p class="px-6 text-xl md:text-4xl">
        ✅ Bentar ya, DM Instagram aja <span class="block pt-5 font-medium">Belajar Bareng Avav...</span>
      </p>
    </div>
  </main>
</Layout>

<script>
  window.addEventListener("load", function () {
    setTimeout(function () {
      window.location.href = "https://www.instagram.com/avcalligraph/";
    }, 3000);
  });
</script>
